/* General Grid Layout */
.grid-container {
    display: grid;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    min-height: 100%;
}

/* Churn Analysis Grid */
.churn-analysis {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

/* Generic Card Group Styling */
.card-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
    max-height: 100vh;
}

/* Group Titles */
.group-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #444;
}

/* Individual Cards */
.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border: 0px solid #FFFFFF;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 10px !important;
    
  }

.card .js-plotly-plot {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card > div:last-child {
  flex: 1;
  min-height: 0;
  position: relative;
}
  
.card-header {
  display: flex; /* Align items horizontally */
  align-items: center; /* Vertically align icon and title */
  background: none;
  border: none; 
  padding: 0px; 
  font-size: 12px;
  color: #444;
  gap: 8px;
  margin:0;
}

.card p {
  margin: 0; 
  margin-bottom: 4px;
  font-size: 14px;
  color: #444;
}


.card-title {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #0a0908;
  margin:0;
  gap: 10px;
}

.card-title i {
  font-size: 15px;
  color: #444;
  margin:0;
}

.kpi-value {
  font-size: 25px;
  font-weight: bold;
  color: #0a0908;
  text-align: left;
}

/* Specific Grid Areas */
.churn-kpi-container { grid-area: 1 / 1 / 3 / 2; }
.churn-graph-container1 { grid-area: 1 / 2 / 3 / 4; }
.churn-graph-container2 { grid-area: 1 / 4 / 3 / 6; }
.behaviour-container { grid-area: 3 / 1 / 5 / 3; }
.insight-container { grid-area: 3 / 3 / 5 / 6; }
