/* Body */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dashboard-grid {
  height: 100vh;
  background-color: #c4c4c4;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  display: grid;
  border-bottom: rgba(196, 196, 196, 0.30) solid 0.5px;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 72.5px 1fr;
  grid-template-areas:
  "sidebar navbar"
  "sidebar main";
}

.navbar {
  grid-area: navbar;
  background-color:  #0a0908;
  grid-column: 1 / -1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}
.navbar-content {
  display: flex;
  flex-direction: row;
  padding: 0 280px;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  
}

.navbar-title {
  font-size: 1.5rem;
  color:#c4c4c4;
  margin: 0;
  line-height: 1;
  font-weight: bold;
}

.navbar-subtitle {
  font-size: 1rem;
  color: #c4c4c4;
  margin-top: 20px;
  line-height: 1;
}

/* Content Area */
.main {
  height: calc(100vh - 70px);
  grid-area: main;
  grid-column: 2 / -1;
  color: #fff;
  padding: 0px;
  box-sizing: border-box;
  overflow-y: auto;

}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  grid-column: 1 / 2;
  box-sizing: border-box;
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: #0a0908;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 0;
}

.sidebar .top {
  padding: 0px;
  margin-top: 0px;
  align-items: center;
}

.sidebar-title {
  color: #da7635;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-family:"Zen Dots", serif;;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 8px;
  border-bottom: rgba(196, 196, 196, 0.30) solid 0.5px;
  border-right: rgba(196, 196, 196, 0.30) solid 0.5px;
  padding: 20px 20px;
}

.sidebar-title i {
  font-size: 2rem;
  margin-right: 15px;
}

/* Navigation list */
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  margin-top: 30px;
  width: 100%;
}

.sidebar ul li {
  margin: 0;
  margin-bottom: 20px;
  padding: 0px 0px;
}

.sidebar ul li a {
  color: #c4c4c4;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px 5px; 
  border-radius: 0 0 0 0rem;
  font-size: 13px;
  justify-content: left;
}

/* Hover effect for navigation links */
.sidebar ul li a:hover {
  background-color: #fff;
  color: #160c05;
  font-weight: bold;
  width: 100%;
  border-right: #da7635 solid 5px;
}

/* Icon styling */
.sidebar ul li a i {
  text-align: center;
  height: 50px;
  line-height: 50px;
  min-width: 40px;
  transition: color 0.3s;
  font-size: 15px;
}

/* Active link styling */
.sidebar ul li a.active {
  background-color: #fff;
  color:  #160c05;
  font-weight: bold;
  border-right: #da7635 solid 5px;
}

.sidebar ul li a.active i {
  color:  #160c05;
  font-weight: bold;
}


